* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: social;
    src: url(font/social.woff2),
        url(font/social.woff),
        url(font/social.ttf);
}


body {
    max-width: 1920px;
    margin: 0 0 0 0;
    height: 1080px;
    font-family: Arial, Helvetica, sans-serif;
}

#pagina {
    max-width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

body button {
    cursor: pointer;
}

img {
    max-width: 100%;
}

body button img {
    width: 25%;
    height: 25%;
}

.colore {
    background-color: rgb(192, 185, 185);
}


/* -------------------------Prima fascia------------------------------- */

#fascia1 {
    background-color: rgb(236, 232, 232);
    height: 3.7037037%;
    width: auto;
}

#jordan {
    float: left;
    display: block;
    background-color: rgb(236, 232, 232);
    height: 30px;
    margin-left: 40px;
    margin-top: 5px;
}

#converse {
    float: left;
    display: block;
    background-color: rgb(236, 232, 232);
    height: 30px;
    margin-left: 10px;
    margin-top: 5px;
}

#immagine1 {
    float: left;
}

#testi1 {
    float: right;
    margin-top: 10px;
    margin-right: 40px;
    font-size: 15px;
}

#testi1 a {
    color: black;
    text-decoration: none;
    margin-right: 20px;
    float: left;
}

#testi1 p {
    color: black;
    text-decoration: none;
    margin-right: 20px;
    float: left;
}

/* -------------------------seconda fascia------------------------------- */

#fascia2 {
    background-color: #fff;
    height: 5.55555556%;
    width: auto;
}

#immagine2 {
    float: left;
}

#logo_nike {
    width: 70px;
    height: 40px;
    margin-left: 40px;
    margin-top: 10px;
}

#menu {
    float: left;
    padding: 20px 0 10px;
    font-size: 20px;
    margin-left: 30%;
}

#ricerca {
    float: left;
    margin-left: 10%;
    padding: 20px 0;
}

#loghi {
    float: left;
    padding: 10px 0 3px;
    margin-left: 3%;
}

.icon {
    padding-left: 25px;
    background: url("../immagini/loghi/icons8-ricerca-50.png") no-repeat left;
    background-size: 15px;
    border-radius: 20px;
}


#loghi img {
    height: 30px;
}

/* -----------------------qui inizia il menu --------------------------*/

nav ul li {
    color: black;
    text-decoration: none;
    padding-right: 20px;
    float: left;
    list-style: none;
    position: relative;
}

nav ul li ul {
    position: absolute;
    display: none;
}

nav ul li:hover a:first-child {
    border-bottom: 2px solid black;
}

nav ul li:hover ul a:first-child {
    border: none;
}


nav ul li:hover #ul1 {
    left: -710px;
    display: block;
    z-index: 2;
    background-color: #fff;
    padding-top: 50px;
    width: 1920px;
    height: 400px;
    padding-left: 500px;
}

nav ul li:hover #ul2 {
    left: -900px;
    display: block;
    z-index: 2;
    background-color: #fff;
    padding-top: 50px;
    width: 1920px;
    height: 400px;
    padding-left: 500px;
}

nav ul li:hover #ul3 {
    left: -970px;
    display: block;
    z-index: 2;
    background-color: #fff;
    padding-top: 50px;
    width: 1920px;
    height: 400px;
    padding-left: 500px;
}

nav ul li:hover #ul4 {
    left: -1050px;
    display: block;
    z-index: 2;
    background-color: #fff;
    padding-top: 50px;
    width: 1920px;
    height: 400px;
    padding-left: 500px;
}

nav ul li:hover #ul5 {
    left: -1130px;
    display: block;
    z-index: 2;
    background-color: #fff;
    padding-top: 50px;
    width: 1920px;
    height: 400px;
    padding-left: 400px;
}

nav ul li ul li a {
    margin-right: 50px;
    color: rgb(100, 95, 95);
    font-size: 17px;
}

nav ul li ul li a:hover {
    text-decoration: underline;
}



nav ul li ul li a:first-child {
    margin-right: 50px;
    color: black;
    font-size: 20px;

}

nav ul li a {
    text-decoration: none;
    color: black;
}


/* -------------------------terza fascia------------------------------- */

#fascia3 {
    background-color: rgb(236, 232, 232);
    height: 5.55555556%;
    width: auto;
}

#fascia3 p {
    text-align: center;
    padding-top: 10px;
}

#p2 {
    text-align: center;
    font-size: 12px;
    text-decoration: underline;
    color: black;
}

#p2 a {
    color: black;
}


/* -------------------------fine testata------------------------------- */

/* -------------------------inizio banner-fascia4------------------------------ */

#fascia4 {
    position: relative;
    overflow: hidden;
}

#fascia4 #testi4 {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 50px;
    padding-bottom: 50px;
    color: #fff;
}

#testi4 h1 {
    font-size: 70px;
    font-weight: bold;
}

#testi4 button {
    width: 20.8333333%;
    height: 40px;
    border-radius: 30px;
}



/* -------------------------Fine banner-fascia4------------------------------ */

/* -------------------------inizio novità-fascia5------------------------------ */


#fascia5 #novita {
    clear: both;
}

#testi5 {
    float: left;
    margin-top: 150px;
    margin-left: 50px;
    font-size: small;
}

#pulsanti1 {
    float: right;
    margin-top: 150px;
    margin-right: 70px;
    margin-bottom: 20px;
}

#pulsanti1 button {
    width: 50px;
    height: 50px;
    border-radius: 80px;
    font-size: 20px;
    margin-right: 5px;
}

#novita1 {
    float: left;
    width: 32%;
    height: 800px;
    margin-left: 1%;
}

#novita2 {
    float: left;
    width: 32%;
    height: 800px;
    margin-left: 1%;

}

#novita3 {
    float: left;
    width: 32%;
    height: 800px;
    margin-left: 1%;

}

#novita4 {
    float: left;
    width: 32%;
    height: 800px;
    margin-left: 1%;
}

#novita5 {
    float: left;
    width: 32%;
    height: 800px;
    margin-left: 1%;
}

#fascia5 p {
    margin-top: 30px;
    font-size: large;
}

/* --------------Fine novità-fascia5------------------------------ */

/* ----------------inizio scarpe-fascia6------------------------------ */

#fascia6 #scarpe {
    clear: both;
}


#testi6 {
    float: left;
    margin-top: 150px;
    margin-left: 50px;
    font-size: small;
}

#pulsanti2 {
    float: right;
    margin-top: 150px;
    margin-right: 70px;
    margin-bottom: 20px;
}

#pulsanti2 button {
    width: 50px;
    height: 50px;
    border-radius: 80px;
    font-size: 20px;
    margin-right: 5px;
}

#scarpa1 {
    float: left;
    width: 32%;
    height: 800px;
    margin-left: 1%;
}

#scarpa2 {
    float: left;
    width: 32%;
    height: 800px;
    margin-left: 1%;
}

#scarpa3 {
    float: left;
    width: 32%;
    height: 800px;
    margin-left: 1%;
}

#scarpa4 {
    float: left;
    width: 32%;
    height: 800px;
    margin-left: 1%;
}

#scarpa5 {
    float: left;
    width: 32%;
    height: 800px;
    margin-left: 1%;
}

#scarpa6 {
    float: left;
    width: 32%;
    height: 800px;
    margin-left: 1%;
}

#fascia6 p {
    margin-top: 30px;
    font-size: large;
}

/* -------------------------Fine scarpe-fascia6------------------------------ */

/* -------------------------inizio sport-fascia7------------------------------ */

#testi7 {
    float: left;
    margin-left: 50px;
    font-size: small;
}


#pulsanti3 {
    float: right;
    margin-right: 70px;
    margin-bottom: 20px;
}

#pulsanti3 button {
    width: 50px;
    height: 50px;
    border-radius: 80px;
    font-size: 20px;
    margin-right: 5px;
}

#sport {
    clear: both;
}

#sport img {
    width: 600px;
    height: 450px;
}

#sport1 {
    position: relative;
    float: left;
    width: 32%;
    height: 50%;
    margin-left: 1%;
}

#sport2 {
    position: relative;
    float: left;
    width: 32%;
    height: 50%;
    margin-left: 1%;
}

#sport3 {
    position: relative;
    float: left;
    width: 32%;
    height: 50%;
    margin-left: 1%;
}

#sport4 {
    position: relative;
    float: left;
    width: 32%;
    height: 50%;
    margin-left: 1%;
}

#sport5 {
    position: relative;
    float: left;
    width: 32%;
    height: 50%;
    margin-left: 1%;
}

#sport6 {
    position: relative;
    float: left;
    width: 32%;
    height: 50%;
    margin-left: 1%;
}


#fascia7 #sport button {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 20.8333333%;
    height: 40px;
    border-radius: 30px;
}



/* -------------------------Fine sport-fascia7------------------------------ */

/* ---------------------inizio banner publicitari-fascia8------------------- */

#banner {
    clear: both;
}

#testi8 {
    margin-top: 150px;
    float: left;
    margin-left: 50px;
    font-size: small;
}

#banner h1 {
    font-size: 25px;
}

#banner h2 {
    font-size: 20px;
}

#pulsanti4 {
    margin-top: 150px;
    float: right;
    margin-right: 70px;
    margin-bottom: 20px;
}

#pulsanti4 button {
    width: 50px;
    height: 50px;
    border-radius: 80px;
    font-size: 20px;
    margin-right: 5px;
}

#banner1 {
    position: relative;
    float: left;
    width: 32%;
    height: 50%;
    margin-left: 1%;
}

#banner2 {
    position: relative;
    float: left;
    width: 32%;
    height: 50%;
    margin-left: 1%;
}

#banner3 {
    position: relative;
    float: left;
    width: 32%;
    height: 50%;
    margin-left: 1%;
}

#banner4 {
    position: relative;
    float: left;
    width: 32%;
    height: 50%;
    margin-left: 1%;
}

#banner5 {
    position: relative;
    float: left;
    width: 32%;
    height: 50%;
    margin-left: 1%;
}

#banner button {
    width: 100px;
    height: 40px;
    border-radius: 30px;
}

#fascia8 #banner article {
    font-size: small;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 20px;
    margin-left: 20px;
    color: #fff;

}

/* ---------------------Fine banner publicitari-fascia8------------------- */

/* -------------------------Inizio fascia 9------------------------------- */

#fascia9 {
    clear: both;
    overflow: auto;
    margin-left: 25%;
    margin-bottom: 40px;
}

#fascia9 div {
    float: left;
    margin-top: 100px;
    padding-left: 1%;
    padding-right: 2%;
    font-size: 15px
}

#fascia9 a {
    color: rgb(100, 95, 95);
    text-decoration: none;
}

#fascia9 a:hover {
    text-decoration: underline;
}

/* -------------------------Fine fascia 9--------------------------------- */

/* -------------------------Inizio fascia 10------------------------------- */

#fascia10 {
    background-color: black;
    height: 30.037037%;
}


#fascia10 a {
    text-decoration: none;
    color: rgb(100, 95, 95);
}

#fascia10 a:hover{
    color: white;
}

#fascia10 a:first-child {
    color: #fff;
}

.footer1 {
    float: left;
    margin-top: 50px;
    width: 10%;
    font-size: 13px;
    margin-left: 100px;
}

#fondo5 {
    float: right;
}


#fondo1 a {
    color: #fff;
}

#fondo1 a:hover{
    text-decoration: underline;
}

#fascia10 ul {
    font-family: 'social';
    list-style: none;
    margin: 0;
    padding: 0;
    padding-right: 5%;

}

#fascia10 ul li {
    display: inline-block;
    margin-right: 16px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: rgb(100, 95, 95);
    text-align: center;
    line-height: 32px;
    margin-top: 50px;
}

#fascia10 ul li a {
    color: black;
}

/* -------------------------Fine fascia 10--------------------------------- */

/* -------------------------inizio fascia 11--------------------------------- */

#fascia11 {
    float: right;
    width: 100%;
    background-color: black;
    height: 100px;
}

#fascia11 a {
    text-decoration: none;
    color: #fff;
}


#fascia11a {
    float: right;
    padding-right: 200px;
}

#fascia11a a {
    margin-right: 20px;
}

#fascia11sx1 {
    font-family: social;
    float: left;
    padding-left: 10%;
    margin-top: 50px;
}

#fascia11sx2 {
    float: left;
    padding-left: 10px;
    margin-top: 50px;
}

#fascia11sx3 {
    float: left;
    padding-left: 10px;
    margin-top: 50px;
}

#fascia11dx1 {
    float: right;
    padding-right: 10%;
    margin-top: 50px;
}

#fascia11dx1 a {
    margin-right: 20px;
}

#fascia11b {
    clear: both;
}